.git
.gitignore
.github
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
test/**
releases/**
scripts/**
.moose
notes.md
tsconfig.json
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**/*.js
